<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="edu.sejong.ex.mapper.BoardMapper">

	<select id="getList" resultType="BoardVO">
		<![CDATA[
			select * from mvc_board2 order by bgroup desc, bstep asc
		]]>
	</select>
	
	<select id="read" resultType="BoardVO">
		<![CDATA[
			select * from mvc_board2 where bid=#{bno}
		]]>
	</select>
	
	<delete id="delete">
		<![CDATA[
			DELETE FROM mvc_board2 WHERE bid=#{bid}
		]]>
	</delete>	
	
	<insert id="insertBoard">
		<![CDATA[
			INSERT INTO mvc_board2 VALUES (MVC_BOARD2_SEQ.nextval, #{bname},#{btitle},#{bcontent},sysdate,0,mvc_board2_seq.currval,0,0)
		]]>
	</insert>
	
	<update id="updateBoard">
		<![CDATA[
			UPDATE mvc_board2 SET bname = #{bname},btitle = #{btitle},bcontent = #{bcontent} WHERE bid=#{bid}
		]]>
	</update>
	
	<update id="updateShape">
		<![CDATA[
			UPDATE mvc_board2 SET bstep=bstep+1 WHERE bstep>#{bstep} and bgroup= #{bgroup}
		]]>
	</update>
	
	<insert id="insertReply">
		<![CDATA[
			INSERT INTO mvc_board2 VALUES (MVC_BOARD_SEQ.nextval, #{bname},#{btitle},#{bcontent},sysdate,0,#{bgroup},#{bstep}+1,#{bindent}+1)
		]]>
	</insert>
	
	<update id="upHit" >
		<![CDATA[
			UPDATE mvc_board2 SET bhit=bhit+1 WHERE bid=#{bid} 
		]]>
	</update>
	
	<select id="getListWithPaging" resultType="BoardVO">
		<![CDATA[
			select * from (
			SELECT ROWNUM rm, a.* FROM (
			SELECT * FROM mvc_board2 order by bgroup desc, bstep asc) a 
			where ROWNUM<=#{pageNum}*#{amount})
			WHERE rm>(#{pageNum}-1)*#{amount}
		]]>
	</select>
	
	<select id="getTotalCount" resultType="int">
		<![CDATA[
			SELECT count(*) FROM mvc_board2
		]]>
	</select>
	
</mapper>