<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="edu.sejong.ex.mapper.CompanyMapper">

	<select id="getEmpDept" resultType="EmpDeptVO">
		<![CDATA[
			select * from emp,dept
		]]>
	</select>
	
	<resultMap type="EmpVO" id="empMap">
		<result property="empno" column="empno"/>
		<result property="ename" column="ename"/>
		<result property="job" column="job"/>
		<result property="mgr" column="mgr"/>
		<result property="hiredate" column="hiredate"/>
		<result property="sal" column="sal"/>
		<result property="comm" column="comm"/>
		<result property="deptno" column="deptno"/>
	</resultMap>
	
	<resultMap type="DeptEmpVO" id="deptEmpMap">
		<result property="deptno" column="deptno"/>
		<result property="dname" column="dname"/>
		<result property="loc" column="loc"/>
		<collection property="empList" resultMap="empMap"/>
	</resultMap>
	
	<select id="getDeptEmpList" resultMap="deptEmpMap">
		<![CDATA[
			select * from emp,dept where emp.deptno=dept.deptno order by dept.deptno asc
		]]>
	</select>
	
	
	<resultMap type="SalgradeEmpVO" id="salgradeEmpMap">
		<result property="grade" column="grade"/>
		<result property="losal" column="losal"/>
		<result property="hisal" column="hisal"/>
		<collection property="empList" resultMap="empMap"/>
	</resultMap>
	
	<select id="getSalgradeEmpList" resultMap="salgradeEmpMap">
		<![CDATA[
			SELECT emp.*,salgrade.grade
				FROM emp, salgrade
			WHERE emp.sal BETWEEN salgrade.losal and salgrade.hisal
		]]>
	</select>

	<resultMap type="DeptSalgradeEmpVO" id="deptSalgradeEmpMap">
		<result property="deptno" column="deptno"/>
		<result property="dname" column="dname"/>
		<result property="loc" column="loc"/>
		<collection property="salgradeEmpList" resultMap="salgradeEmpMap"/>
	</resultMap>
	
	<select id="getDeptSalgradeEmpList" resultMap="deptSalgradeEmpMap">
		<![CDATA[
			SELECT *
				FROM emp, salgrade, dept
			WHERE (emp.sal BETWEEN salgrade.losal and salgrade.hisal) and emp.deptno=dept.deptno
		]]>
	</select>
	
		<select id="getEmp" resultType="EmpVO">
		<![CDATA[
			SELECT * FROM emp WHERE ename=#{ename}
		]]>
	</select>


</mapper>